<a href="http://drupal9.localhost/access/folders/{{variables}}">Выдать доступ к папке</a></br>
<a href="http://drupal9.localhost/pass/create/{{variables}}">Создать пароль</a></br>

{% for item_id, item_title in content %}
  <a href="/password_entity/{{ item_id }}">{{ item_title }}</a><br>
{% endfor %}
