{% macro renderNestedArray(array) %}
  <ul>
    {% for key, item in array %}
      <li>
        {{ key }}

        {% if item is iterable %}
          {{ _self.renderNestedArray(item) }}
        {% else %}
          {{ item }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{{ _self.renderNestedArray(content) }}
